@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-mulish: "Mulish", sans-serif;
}


body {
  background: #051052;
}

@keyframes fadeInSubtle {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-subtle {
  animation: fadeInSubtle 0.5s ease-out forwards;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.skeleton {
  background: linear-gradient(90deg, #f3f4f6 25%, #e5e7eb 50%, #f3f4f6 75%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
}